body {
    margin: 0;
    padding: 0;
}

#main {
    text-align: center;
}

.caixa-usuario {
    position: relative;
    top: 100px;
}

.caixa-usuario p{
    background-color: var(--corCampo);
    width: fit-content;
}